<!DOCTYPE html>
<html>
	<head>
		<title><%= locals.title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<header>
			<h1><%= locals.title %></h1>
			<a href="./new">Add Message</a>
		</header>
		<main>
			<% locals.messages.forEach(message => { %>
			<article>
				<p><%= message.text %></p>
				<span><%= message.user %></span>
				<span><%= message.added %></span>
			</article>
			<% }); %>
		</main>
	</body>
</html>
